/* This stylesheet is used to style the admin option form of the plugin. */
i.mce-i-asp-shortcode-icon {
    background-image: url(img/asp_shortcode.png);
}
.asp-shortcode-options-table input.asp-input-wide {
    width: 90%;
}
table.asp-shortcode-options-table th, table.asp-shortcode-options-table td {
    padding: 10px 10px 10px 0;
}
#TB_ajaxContent table.asp-shortcode-options-table p.description {
    padding: 0;
}

#TB_ajaxContent #asp_form_err {
    color: red;
    padding: 0;
    margin: 0;
}
#TB_window {
    overflow: auto;
}

#TB_ajaxContent {
    overflow: visible;
    height: auto;
    width: auto;
}