.stripe_addon_item_canvas{
    font-family:sans-serif,arial;
    font-size:12px;
    border:1px solid #ddd;
    box-sizing: border-box;
    display:block;
    float:left;
    margin:3px 12px 12px 0;
    padding:15px;
    position:relative;
    width:300px;
    height:400px;
}
.stripe_addon_item_canvas:hover{border-color:#d6d6d6;}
.stripe_addon_item_thumb {position: relative}
.stripe_addon_item_installed_mark {position: absolute; right: 7px; top: 5px;}
.stripe_addon_item_installed_mark img {border: none !important;}
.stripe_addon_item_thumb img {padding:5px; border: 1px solid #ddd;}
.stripe_addon_item_thumb a img {border: 1px solid #ccc;}
.stripe_addon_item_body{line-height:22px;height:170px;overflow:hidden;}
.stripe_addon_item_name{font-size:16px;font-weight:bold;text-align: center;margin:10px 10px 10px 0px;}
.stripe_addon_item_description{margin:10px 10px 5px 0px;text-align:justify;overflow:hidden;height:70px;}
.stripe_addon_clear{clear:both;}
.stripe_addon_item_details_link{
    text-align: center;
}
.stripe_addon_item_details_link a{
    border: 3px solid #2d3140;
    color: #2d3140;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none !important;
}
.stripe_addon_item_details_link a:hover{
    background-color: #2d3140;
    color: #FFF;
}
