.asp_product_item {
    display: block;
    border: 1px solid #E7E9EB;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
.asp_product_item_thumbnail img {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
}

.asp_product_name {
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 75px;
}

.asp_product_description {
    margin: 15px 0 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

.asp_product_buy_button {
    display: block;
}